:root {
  width: 100%;
  height: 100%;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-user-select: none;
  user-select: none;
}

.app-container {
  display: flex;
  height: 100vh;
  background-color: #12121b;
}

.content-area {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  color: #fff;
}

#circleCanvas {
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}